.Rproj.user
docs
inst/doc
^inst/extdata/comparison-results/.*\.rds$
inst/extdata/comparison-results/*.rds
.Rhistory

/.quarto/
**/*.quarto_ipynb
_quarto.yml
_site/
vignettes/_site/
vignettes/articles/_site/
